body {
  margin: 0;
  font-family: "Geist", sans-serif;
  color: #888;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 100px 0;
}

.wrapper {
  width: 600px;
  margin: 0 auto;
}

.box {
  display: flex;
  align-items: center;
  gap: 8px;

  input {
    flex: 1;
    padding: 8px 12px;
    border-radius: 4px;
    min-height: 42px;
    font-family: "Geist", sans-serif;
    border: 1px solid #ccc;
  }

  button {
    background-color: white;
    color: #000;
    border: none;
    min-height: 42px;
    padding: 0 16px;
    border-radius: 4px;
    font-family: "Geist", sans-serif;
  }
}


.box-shorten {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  input {
    width: 100%;
    padding: 8px 12px;
    border-radius: 4px;
    min-height: 42px;
    font-family: "Geist", sans-serif;
    border: 1px solid #ccc;
  }

  button {
    background-color: white;
    color: #000;
    border: none;
    min-height: 42px;
    padding: 0 16px;
    border-radius: 4px;
    font-family: "Geist", sans-serif;
  }
}

* {
  transition: all 0.6s;
}


#main {
  display: table;
  width: 100%;
  text-align: center;
}

.fof {
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type .5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }

  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}
