<!doctype html>
<html
  lang="en"
  class="h-screen"
  style="color-scheme: dark; text-align: center; font-family: Poppins, sans"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/web/styles/styles.css" />

    <title>Example Template</title>
  </head>
  <body>
    <h1>URL Shortener</h1>

    <div class="wrapper">
      <form action="/api/shorten" method="POST" class="box">
        <input placeholder="Add your url here" type="text" name="url" />
        <button type="submit">Shorten URL</button>
      </div>
    </div>

  </body>
</html>
