<!doctype html>
<html
  lang="en"
  class="h-screen"
  style="color-scheme: dark; text-align: center; font-family: Poppins, sans"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/web/styles/styles.css" />

    <title>Shorten</title>
  </head>
  <body>
    <h1>URL Shortener</h1>

    <div class="wrapper">
      <div class="box-shorten">
        <input placeholder="Add your url here" type="text" value="{{.Url}}" />
        <button>Copy URL</button>
      </div>
    </div>

    <script>
      const $button = document.querySelector("button");
      $button.addEventListener("click", copyText);
      function copyText() {
        const textToCopy = document.querySelector("input").value;

        navigator.clipboard
          .writeText(textToCopy)
          .then(() => {
            $button.textContent = "Copied!";
          })
          .catch((err) => {
            console.error("Failed to copy text:", err);
            alert("Failed to copy text to clipboard.");
          });
      }
    </script>
  </body>
</html>
